@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 100%, 97%);
  min-height: 100vh;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

.err {
  border: 2px solid hsl(354, 84%, 57%);
}

.next-step {
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  width: 120px;
  height: 50px;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1em;

  margin-left: auto;

  display: block;
  cursor: pointer;
  border: none;
}

.prev-step {
  background: none;
  border: none;
  outline: none;
  color: hsl(231, 11%, 63%);
  font-size: 1.1em;
  cursor: pointer;
  font-weight: 500;
  padding-bottom: 1rem;
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  margin-bottom: 1rem;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  display: flex;
  width: 900px;
  height: 600px;
  border-radius: 1rem;
}
/* Start Sidebar */
.sidebar {
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  color: hsl(0, 0%, 100%);
  padding-block: 1rem;
  width: 280px;
  height: 100%;
}

.sidebar .steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.sidebar .steps .sidebar-step {
  display: flex;
  gap: 1rem;
}

.sidebar .steps .sidebar-step .circle {
  border: 2px solid hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sidebar .steps .sidebar-step.active .circle {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  border: none;
}

.sidebar .steps .sidebar-step .step-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
}

.sidebar .steps .sidebar-step .step-info span {
  color: hsl(229, 24%, 87%);
  font-size: 13px;
}

/* End Sidebar */

.step {
  display: none;
  padding-left: 4rem;
}

.step .header {
  padding-top: 2rem;
}

.step .header .title {
  font-size: 2.2em;
  color: hsl(213, 96%, 18%);
}

.step .header p {
  color: hsl(231, 11%, 63%);
  margin-top: 0.5rem;
  font-weight: 500;
}

/* Start Step 1 */

.step-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step-1 form {
  flex: 1;
}

.step-1 form .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.step-1 form .input-group .label-group {
  display: flex;
  justify-content: space-between;
  color: hsl(213, 96%, 18%);
}

.step-1 form .input-group .label-group p {
  color: hsl(354, 84%, 57%);
  display: none;
}

.step-1 form .input-group input {
  padding: 1rem;
  border-radius: 0.8rem;
  border: 1px solid hsl(229, 24%, 87%);
  outline: 0;
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  font-size: 1em;
}
.step-1 form .input-group input:focus {
  border: 1px solid hsl(243, 100%, 62%);
}

.step-1 form .input-group input::placeholder {
  color: hsl(231, 11%, 63%);
}

/* End Step 1 */

/* start step 2 */
.step-2 {
  /* display: flex; */
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.step-2 form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.step-2 form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid hsl(229, 24%, 87%);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  flex: 1;
}

.step-2 form label:has(> input:checked) {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.step-2 form label img {
  padding-bottom: 3rem;
}
.step-2 form label input {
  display: none;
}
.step-2 form label .info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.step-2 form label .info h3 {
  color: hsl(213, 96%, 18%);
}
.step-2 form label .info .price {
  color: hsl(231, 11%, 63%);
}
.step-2 form label .info .offer {
  color: hsl(213, 96%, 18%);
}

.switch-plan {
  background-color: hsl(217, 100%, 97%);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9em;
  font-weight: 600;
}

.switch-plan .monthly,
.switch-plan .yearly {
  color: hsl(231, 11%, 63%);
}
.switch-plan .active {
  color: hsl(213, 96%, 18%);
}

.switch-plan label {
  background: hsl(213deg 96% 18%);
  width: 40px;
  height: 20px;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.switch-plan input {
  display: none;
}

.switch-plan label span {
  width: 13px;
  height: 13px;
  background: #fff;
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 50%;
}

.switch-plan input:checked ~ span {
  left: 21px;
}
/* end step 2 */

/* start step 3 */

.step-3 {
  /* display: flex; */
  flex-direction: column;
  flex: 1;
}

.step-3 form {
  flex: 1;
  margin-block-start: 2rem;
}

.step-3 form label {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  border: 1px solid hsl(229, 24%, 87%);
  padding: 1rem;
  border-radius: 0.5rem;
}

.step-3 form label:has(> input:checked) {
  background-color: hsl(217, 100%, 97%);
  border: 1px solid hsl(243, 100%, 62%);
}

.step-3 form label input {
  color: hsl(243, 100%, 62%);
  border: none;
}

.step-3 form label .info h3 {
  color: hsl(213, 96%, 18%);
  font-size: 1.1em;
}
.step-3 form label .info .desc {
  color: hsl(231, 11%, 63%);
  margin-top: 0.3rem;
}
.step-3 form label .price {
  color: hsl(243, 100%, 62%);
  margin-left: auto;
  font-weight: 500;
}

/* end step 3 */

/* Start Step 4 */
.step-4 {
  /* display: flex; */
  flex-direction: column;
  flex: 1;
}

.step-4 .subscription {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(217, 100%, 97%);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.step-4 .subscription .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-4 .subscription .plan-detail h3 {
  color: hsl(213, 96%, 18%);
  font-size: 1.1em;
}
.step-4 .subscription .plan-detail a {
  color: hsl(231, 11%, 63%);
  margin-top: 0.5rem;
  display: inline-block;
}
.step-4 .subscription .plan .price {
  font-weight: 600;
  color: hsl(213, 96%, 18%);
}

.step-4 .subscription hr {
  border: 1px solid hsl(229, 24%, 87%);
}

.step-4 .add-ons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.step-4 .add-ons .add-on {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(231, 11%, 63%);
}

.step-4 .add-ons .add-on .price {
  color: hsl(213, 96%, 18%);
}

.step-4 .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: hsl(231, 11%, 63%);
}

.step-4 .total .strong-price {
  font-size: 1.3em;
  color: hsl(243, 100%, 62%);
  font-weight: 700;
}
/* End Step 4 */

/* Start Step 5 */

.step-5 {
  /* display: flex; */
  flex: 1;
  justify-content: center;
  align-items: center;
}

.step-5 .summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-5 .summary img {
  width: 100px;
  margin-bottom: 2rem;
}
.step-5 .summary h3 {
  font-size: 2em;
  color: hsl(213, 96%, 18%);
  margin-bottom: 1rem;
}
.step-5 .summary p {
  color: hsl(231, 11%, 63%);
  text-align: center;
  line-height: 1.6;
}

/* End Step 5 */

/* Responsive */
@media (max-width: 767px) {
  .sidebar {
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    width: 100vw;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }

  .sidebar .steps {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  .sidebar .steps .sidebar-step .step-info {
    display: none;
  }

  .container {
    width: 90%;
    height: fit-content;
    position: relative;
    bottom: 3rem;
    margin: auto;
    justify-content: center;
  }
  .step {
    padding: 0;
  }

  .step-1 {
    gap: 0rem;
  }
  .step-1 form .input-group input {
    width: 100%;
  }

  .step .header .title {
    font-size: 1.6em;
  }
  .step .header p {
    font-size: 0.8em;
  }
  .step .header {
    padding-block-start: 1rem;
  }
  .btns {
    flex: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 1rem;
    margin: 0;
  }
  .prev-step {
    padding-bottom: 0;
  }

  /* Start Step 2 */
  .step-2 form {
    flex-direction: column;
  }
  .step-2 form label {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
  .step-2 form label h3 {
    font-size: 1em;
  }
  .step-2 form label .price {
    font-size: 0.9em;
  }
  .step-2 form label .offer {
    font-size: 0.8em;
  }
  .step-2 form label img {
    padding: 0;
  }
  /* End Step 2 */

  /* Start step 3 */
  .step-3 form label .info h3 {
    font-size: 0.9em;
  }
  .step-3 form label .info .desc {
    font-size: 0.8em;
  }
  .step-3 form label .price {
    color: hsl(243, 100%, 62%);
    margin-left: auto;
    font-weight: 500;
  }

  /* End step 3 */

  /* Start Step 5 */
  .step-5 .summary img {
    width: 80px;
    margin-bottom: 1rem;
    padding-top: 3rem;
  }

  .step-5 .summary p {
    padding-bottom: 3rem;
    padding: 0.3rem;
  }
  /* End Step 5 */
}
